.navbar {
    width: 100%;
    top: 0;
    z-index: 100;
}
.head {
    width: 100%;
    height: 40px;
    background-color: #0f62d6;
    display: flex;
    align-items: center;
    justify-content: center;  
}

.headTxt {
    font-size: 18px;
    color: aliceblue;
    font-weight: 700;
}